<app-header></app-header>
<div class="home-wrapper bg-zinc-50 flex w-full min-h-screen">
  <div>
    YEP
  </div>
  <app-lobby></app-lobby>
  <app-lobby-button></app-lobby-button>

  <hlm-alert-dialog>
    <button id='edit-profile' variant='outline' brnAlertDialogTrigger hlmBtn>Delete Account</button>
    <hlm-alert-dialog-content *brnAlertDialogContent='let ctx'>
      <hlm-alert-dialog-header>
        <h3 hlmAlertDialogTitle>Are you absolutely sure?</h3>
        <p hlmAlertDialogDescription>
          This action cannot be undone. This will permanently delete your account and remove your data from our
          servers.
        </p>
      </hlm-alert-dialog-header>
      <hlm-alert-dialog-footer>
        <button hlmAlertDialogCancel (click)='ctx.close()'>Cancel</button>
        <button hlmAlertDialogAction (click)='ctx.close()'>Delete account</button>
      </hlm-alert-dialog-footer>
    </hlm-alert-dialog-content>
  </hlm-alert-dialog>

  <br>
  <hlm-toaster />
  <button hlmBtn (click)="showToast()">Show Toast</button>
</div>
